<style>
    .topnav{
        background-color: brown;
        overflow: hidden;
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover{
        background-color: #ddd;
        color: black;
    }
    .topnav a.active{
        background-color: #04AA6D;
        color: blue;
    }
</style>
<div class="topnav">
    <a class="fa fa-home" href="/Universo-da-Palavra/index.php">Home</a>
    <div>
        <a href="/Universo-da-Palavra/Pages/Clientes/pageClientesCadastro.php">Clientes</a>
        <a href="">Autores</a>
        <a href="">livros</a>
        <a href="">Editoras</a>
        <a href="">Categorias</a>
        <a href="">Sair</a>
    </div>
</div>